.container{
    padding: 30px;
}

.container h4{
  font-weight: 600;
  padding-bottom: 20px;
}

.bubble{
  display: flex;
 justify-content: center;
}

.bubble div{
    background-color: white;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    text-align: center;
    padding: 15px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 22px;  
  background: blue;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}


.label{
  padding:20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.label label{
  flex-grow: 1;
  display: flex;
}

.s{
    justify-content: flex-start;
}

.m{
    justify-content: center;
}

.l{
    justify-content: flex-end;
}

@media (max-width: 1000px) {
      .container{
          padding: 40px 0;
      }
}